<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="col-md-3 col-sm-3 col-xs-12 firstcard">
        <div class="card">
          <div class="row card-header">
            <h3>Html Text</h3>
          </div>
          <div class="card-content padding-text">
            <img src="assets/images/mani.jpg" style="width:50%;">
            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <button class="btn btn-primary create-btn">Create</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 secondcard">
        <div class="card">
          <div class="row card-header">
            <h3>Rich Text Editor</h3>
          </div>
          <div class="card-content padding-text">
            <img src="assets/images/mani.jpg" style="width:50%;">
            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <button class="btn btn-primary create-btn">Create</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 thirdcard">
        <div class="card">
          <div class="row card-header">
            <h3>Drag & Drop Editor</h3>
          </div>
          <div class="card-content padding-text">
            <img src="assets/images/mani.jpg" style="width:50%;">
            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <button class="btn btn-primary create-btn">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>